@use "../globals";
@use "../util";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  // max-width: 1000px;
  width: min(100% - 40px, 1000px);
  // margin-inline: auto;

  &__main {
    background-color: var(--main-bg-color);
  }

  &__sidebar {
    background-color: var(--sidebar-bg-color);

    @include util.breakpoint-down(medium) {
      text-align: center;
    }
    @include util.breakpoint-down(small) {
      text-align: right;
    }
  }

  &__main,
  &__sidebar {
    padding: 20px;
  }

  @include util.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
}
