@use "../util";

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  color: white;
}

h1 {
  // font-size: clamp(28px, 16px + 2vw, 40px); not recommended
  // font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  font-size: clamp(util.rem(28), util.rem(16) + 2vw, util.rem(40));
}

h2 {
  // font-size: clamp(22px, 14px + 1.5vw, 36px); not recommended
  // font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
  font-size: clamp(util.rem(22), util.rem(14) + 1.5vw, util.rem(36));
}
p {
  margin-top: 0;
  font-size: util.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
