@use "../utils";

html {
  font-size: 100%;
}

// resets
*,
*::after,
*::before {
  box-sizing: border-box;
}

// $medium: calc(20rem / 16); // 20px

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  // font-family: Arial, Helvetica, sans-serif;
  font-family: utils.$font-family;
}
